.admin-courses-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.admin-courses-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  margin-right: 10px; 
}

.form-container label {
  display: block;
  margin-bottom: 0px;
  font-weight: bold;
  color: #555;
  font-size: 1rem;
  margin-right: 75px;
  margin-top: 0%;
}

.form-container input[type="text"]
.form-container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  margin-top: 15px;
}

.form-container textarea {
  resize: vertical;
  min-height: 80px; /* Adjust this to your preference */
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #0056b3;
}

.courses-list {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 120px; 
}

.courses-list h2 {
  font-size: 1.5rem;
  color: #333;
  margin-right: 55pc;
}

.courses-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.courses-list li {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.courses-list li:last-child {
  border-bottom: none;
}

.courses-list h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #007bff;
}

.courses-list p {
  color: #666;
  margin: 5px 0 0;
}
