h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2%;
  color: #fff;
}

.login-form-container {
  background-color: #6388af;
  width: 45%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 55%;
  opacity: 0.9;
}

.cover-image {
  position: absolute;
  top: 0;
  width: 55%;
  height: 100%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  max-width: 450px;
  margin: 50px auto;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 70vh;
  position: absolute;
  top: 50px;
  right: 20%;
  opacity: 0.9;
}

.form-group {
  width: 50%;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: bold;
  color: black;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#text {
  color: black;
}

#username,
#password {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-btn {
  position: absolute;
  left: 80%;
  top: 2vh;
  width: 7vw;
  height: 7vh;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 12px;
}

.login-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}
