h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-container{
   background-color: #6388af;
  width: 50%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 50%;
  opacity: 0.9;
}

.signup {
  max-width: 500px;
  margin: 30px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 95%;
  position: absolute;
  top: 1px;
  right: 9%;
  opacity: 0.9;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
  color: black;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#text {
  color: black;
}

#first_name,
#last_name,
#email,
#password {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px;
}

.signup-btn {
  position: absolute;
  top: 2vh;
  left: 71%;
  width: 7vw;
  height: 7vh;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 12px;
}

.signup-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0056b3;
}
