h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.signup {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 40%;
  position: absolute;
  top: 20px;
  left: 40%;
  opacity: 0.9;
  border: 1px solid black;
  border-radius: 20px;
}
label {
  font-weight: bold;
  color: white;
}
.inputs {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}

.signup-btn {
  position: absolute;
  top: 2vh;
  left: 71%;
  width: 7vw;
  height: 7vh;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 12px;
}

.signup-button {
  width: 15vw;
  height: 7vh;
  border-radius: 15px;
  background-color: rgb(42, 189, 67);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  top: 2vh;
  left: 35%;
}
